{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{% block title %} The available books in the library are: {% endblock %}</h1>
    <div class="content">
        {% for book in books %}
            <div class="book">
                <p><b>#{{ book.book_id }} {{ book.book_name }}
                </a></p>
        
                </b>
                <a href="{{ url_for('issue', book_id=book.book_id) }}">Issue</a>
                <hr>
            </div>
        {% endfor %}
    </div>
{% endblock %}