{% extends 'base.html' %}

{% block content %}
<div class="box">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-success">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}
  
  </div>
  <br>
    <h1 class="title">{% block title %} The available books in the library are: {% endblock %}</h1>
    <div class="content">
        {% for book in books_all %}
            {% if book.Inventory > 0 %}
    
                <div class="book">
                    <p><b>#{{ book.book_id }} {{ book.book_name }}
                       </p>
                        </b>
                    <a href="{{ url_for('auth.issue', book_id=book.book_id) }}">Issue</a>
                    <hr>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}