{% extends "base.html" %}

{% block content %}
<h1 class="title">
  My Library   
</h1>
<h2 class="subtitle">
  You can get lost in any library, no matter the size. But the more lost you are, the more things you’ll find.
</h2>
<p>
  A library is a collection of sources of information and similar resources, made accessible to a defined community for reference or borrowing. It provides physical or digital access to material and may be a physical building or room, or a virtual space, or both. A library's collection can include books, periodicals, newspapers, manuscripts, films, maps, prints, documents, microform, CDs, cassettes, videotapes, DVDs, Blu-ray Discs, e-books, audiobooks, databases, and other formats. Libraries range in size from a few shelves of books to several million items. Sidney Sheldon perfectly describes: “Libraries store the energy that fuels the imagination. They open up windows to the world and inspire us to explore and achieve, and contribute to improving our quality of life.
</p>
<body>
  <img src="/Users/charvianand/Documents/Learning/projects/login_website/project/templates/library.jpeg">
{% endblock %}