{% extends "base.html" %}

{% block content %}
<div class="box">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
      <div class="notification is-success">
          {{ messages[0] }}
      </div>
  {% endif %}
  {% endwith %}

</div>
<h1 class="title">
  Welcome, Member!
</h1>
        <form method="POST" action="/add_book">
            <button name="response" class="button is-block is-info" value = "add">Add a book</button>
            <br>
            <button name="response" class="button is-block is-info" value = "update_book">Update Book Database</button>
            <br>
            <button name="response" class="button is-block is-info" value = "update_user">Update User Database</button>
            <br>
            <button name="response" class="button is-block is-info" value = "bulk_books"> Books - Bulk Entry</button>
            <br>
            <button name="response" class="button is-block is-info" value = "bulk_users"> Users - Bulk Entry</button>
            <br>
            <button name="response" class="button is-block is-info" value = "records">Check Records</button>
        </form>
{% endblock %}