{% extends 'base.html' %}

{% block content %}
<div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-success">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}
  
  </div>
  <br>
  <a href="{{ url_for('main.staff_profile',) }}">DONE</a>
  <br>
  <hr>
    <h1 class="title">{% block title %} The available books in the library are: {% endblock %}</h1>
    
    <br>
    <br>
    <div class="content">
        
        <br>
        {% for book in books_all %}
            <div class="book">
                <p><b>#{{ book.book_id }} {{ book.book_name }} </b>
                    <br>
                    No. of books:  {{ book.Inventory }}  <a href="{{ url_for('auth.update', book_id=book.book_id) }}">Update</a>
                </p>
                <hr>
            </div>
        {% endfor %}
    </div>
{% endblock %}