{% extends 'base.html' %}

{% block content %}
<div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-success">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}
  
  </div>
  <br>
    <h1 class="title">{% block title %} The available books in the library are: {% endblock %}</h1>
    <br>
    <h1><button style="background-color:White"><a href="{{ url_for('main.staff_profile') }}">      ..DONE..      </a></button></h1>
    <br>
    <div class="content">
        
        <br>
        {% for book in books_all %}
            <div class="book">
                <p><b>#{{ book.book_id }} {{ book.book_name }} </b>
                    <br>
                    No. of books:  {{ book.Inventory }}
                </p>
                <button><a href="{{ url_for('auth.edit', book_id=book.book_id) }}">Update    </a></button>
               <button onclick="return confirm('Are you sure you want to delete this book from the database?')"><a href="{{ url_for('auth.remove', book_id=book.book_id) }}">Remove</a></button>
                
               
                <hr>
            </div>
        {% endfor %}
    </div>
{% endblock %}